@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.academic-overlay {
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuB0FSP7Ecd-YkghJpe3NtrduE89eQOZjx2Zc4R4uAiON-tMCpZkyjEuuutvlKx4WvV5PEhqtm70CaNIq4CMQCaEZM5cMAzqqquuzioBi1O66GbvxDOR4S_Y5_QkHVzwES4G5Y8lWEE_OzMCjdC2EjW0xARKGSFRppamhtwgYUfbPDKfD8e4cIGa86AGvJTSfTwr4nBFcf2lClxkmZzZyqtVxgoygU5t3eCzrhnHmgRIyLC389ARJF-awz3Hxgxblw2B2IrsV3ItXw);
  background-size: cover;
  background-position: center;
}

.auth-card-blur {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.85);
}
